services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=0
      - PGID=0
      - TZ=Asia/Kolkata
    volumes:
      - ./data/config:/config
      - ./data/cache:/cache
      - /media/anime:/anime
      - /media/movies:/movies
      - /media/backup/jellyfin:/config/data/data/backups
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    restart: 'unless-stopped'
    ports:
      - 8096:8096
