services:
  downloader:
    container_name: downloader
    environment:
      - PGID=0
      - PUID=0
      - QBT_LEGAL_NOTICE=confirm
      - QBT_VERSION=5.1.0-1
      - QBT_WEBUI_PORT=8080
      - TZ=Asia/Kolkata
    image: qbittorrentofficial/qbittorrent-nox:5.1.0-1
    ports:
      - 6881:6881/tcp
      - 6881:6881/udp
      - 8080:8080/tcp
    read_only: true
    stop_grace_period: 30m
    tmpfs:
      - /tmp
    tty: true
    volumes:
      - ./data/downloader:/config
      - /media/downloads:/downloads
    restart: unless-stopped
    networks:
      - media_network

  radarr:
    depends_on:
      - downloader
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=Asia/Kolkata
    volumes:
      - ./data/radarr:/config
      - /media/movies:/movies
      - /media/downloads:/downloads
      - /media/backup/radarr:/config/Backups
    ports:
      - 7878:7878
    restart: unless-stopped
    networks:
      - media_network

  sonarr:
    depends_on:
      - downloader
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=Asia/Kolkata
    volumes:
      - ./data/sonarr:/config
      - /media/anime:/series
      - /media/downloads:/downloads
      - /media/backup/sonarr:/config/Backups
    ports:
      - 8989:8989
    restart: unless-stopped
    networks:
      - media_network

networks:
  media_network:
    external: true
